body{
    margin: 0;
    padding: 0;
    
}
.forms{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 8% 20% ;
    width: 30%;
    padding-top: 3.6em;
    padding-bottom: 3.6em;
}
form{
    display: flex;
    flex-direction: column;
    margin:auto;
    padding: 1em;
    
}
input{
    width: 30em;
    height: 2em;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 3px;
}
button{
    width: auto;
    height: 2em;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 14px;
}
button:hover{
    cursor: pointer;
}


.vdo{
    margin: -35% 10% 0 50%; 
    position: absolute; 
   
   }
   video{
       width: 400px;
       height: 450px;
       margin-left: 100px;
       z-index: 1;
       animation: fadein 2s;
   }
   @keyframes fadein {
    0% { opacity: 0; }
    50%   { opacity: 0.5; }
    100%   { opacity: 1; }
}
   

