
.vdo{
 margin: -35% 10% 0 50%; 
 position: absolute; 

}
video{
    width: 400px;
    height: 450px;
    margin-left: 100px;
    animation-name: fade;
    animation-duration: 2s;
}

  @keyframes fade {
    0%   {margin-left: -50px;}
    25%  {margin-right: 150px;}
    50%  {margin-right: -100px;}
    100% {margin-right: -200px;}
  } 